<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasyTicket</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-10 column">
            <h3 class="text-left">
                EasyTicket
            </h3>
        </div>
        <div class="col-md-2 column" style="margin-top: 10px">
            <form action="/login/logout" method="post">
                <button type="submit" class="btn btn-default">Logout</button>
            </form>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column">
            <ul class="nav nav-stacked nav-pills">
                <li>
                    <a href="/manager">场馆审批</a>
                </li>
                <li>
                    <a href="/manager/settle">场馆结算</a>
                </li>
                <li class="active">
                    <a href="/manager/web_statistic">网站统计</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 column">
            <div th:if="${msg != null && msg != ''}" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>获取失败！</strong><span th:text="${msg}"></span>
            </div>
            <dl class="dl-horizontal">
                <h2>网站统计</h2>
                <br>
                <dt>
                    网站盈利
                </dt>
                <dd th:text="|¥${web.income}|">

                </dd>
            </dl>
            <hr>
            <dl class="dl-horizontal">
                <h2>用户统计</h2>
                <br>
                <dt>
                    用户注册数
                </dt>
                <dd th:text="${web.userNum}">

                </dd>
                <dt>
                    用户下单量
                </dt>
                <dd th:text="${web.orderNum}">

                </dd>
                <dt>
                    订单总额
                </dt>
                <dd th:text="|¥${web.orderValue}|">

                </dd>
            </dl>
            <hr>
            <dl class="dl-horizontal">
                <h2>场馆统计</h2>
                <br>
                <dt>
                    场馆数
                </dt>
                <dd th:text="${web.venueNum}">

                </dd>
                <dt>
                    场馆计划数
                </dt>
                <dd th:text="${web.planNum}">

                </dd>
            </dl>
        </div>
    </div>
</div>
</body>
</html>