<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EasyTicket</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-10 column">
            <h3 class="text-left">
                EasyTicket
            </h3>
        </div>
        <div class="col-md-2 column" style="margin-top: 10px">
            <form action="/login/logout" method="post">
                <button type="submit" class="btn btn-default">Logout</button>
            </form>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column">
            <ul class="nav nav-stacked nav-pills">
                <li class="active">
                    <a href="/venue">场馆计划</a>
                </li>
                <li>
                    <a href="/venue/venue_info">场馆信息</a>
                </li>
                <li>
                    <a href="/venue/venue_statistic">场馆统计</a>
                </li>
                <li>
                    <a href="/venue/check_in">检票登记</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 column">
            <div th:if="${msg != null && msg != ''}" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>发布失败!</strong><span th:text="${msg}"></span>
            </div>
            <div th:if="${status == 1}" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>发布成功!</strong>
            </div>
            <a href="/venue/new_plan" class="btn btn-default btn-primary">发布计划</a>
            <br>
            <br>
            <div class="row">
                <div th:each="plan, iterStat: ${plans}" class="col-md-4">
                    <div class="thumbnail">
                        <img alt="300x200" th:src="${plan.poster}"/>
                        <div class="caption">
                            <h3 th:text="${plan.title}">Title</h3>
                            <p><span th:text="${plan.type}" class="label label-info">类型</span></p>
                            <p>时间: <span  th:text="${#dates.format(plan.time, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
                            <p>
                                <a class="btn btn-primary" th:href="@{/venue/choose_seat/{planId}(planId=${plan.id})}">线下买票</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>