<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasyTicket</title>
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="/jquery.seat-charts.css" rel="stylesheet">
    <link href="/seat-styles.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="/jquery.seat-charts.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <!--<div class="row clearfix">-->
        <!--<div class="col-md-12 column">-->
        <div id="seat-map">
            <div class="front-indicator">Front</div>


        </div>
        <div id="legend"></div>
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        sc = $('#seat-map').seatCharts({
            map: /*[[${seat.seatMap}]]*/,
            seats: {
                a: {
                    price: 100,
                    classes: 'a-class'
                },
                b: {
                    price: 200,
                    classes: 'b-class'
                },
                c: {
                    price: 300,
                    classes: 'c-class'
                },
                d: {
                    price: 300,
                    classes: 'd-class'
                }
            },
            click: function () {
                if (this.status() == 'available') {
                    //do some stuff, i.e. add to the cart
                    return 'selected';
                } else if (this.status() == 'selected') {
                    //seat has been vacated
                    return 'available';
                } else if (this.status() == 'unavailable') {
                    //seat has been already booked
                    return 'unavailable';
                } else {
                    return this.style();
                }
            },
//            naming: {
//                top: false,
//                left: false
//            },
            legend: {
                node: $('#legend'),
                items: /*[[${seat.seatLegend}]]*/
            }

        });

        sc.get(/*[[${seat.seatUnavailable}]]*/).status('unavailable');
    });
    /*]]>*/
</script>
</html>