<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EasyTicket</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-10 column">
            <h3 class="text-left">
                EasyTicket
            </h3>
        </div>
        <div class="col-md-2 column" style="margin-top: 10px">
            <form action="/login/logout" method="post">
                <button type="submit" class="btn btn-default">Logout</button>
            </form>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column">
            <ul class="nav nav-stacked nav-pills">
                <li class="active">
                    <a href="/user">所有计划</a>
                </li>
                <li>
                    <a href="/user/my_order">我的订单</a>
                </li>
                <li>
                    <a href="/user/my_info">我的资料</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 column">
            <div th:if="${status == 1}" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>购买成功！</strong>
            </div>
            <div th:if="${msg != null && msg != ''}" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>请重试！</strong><span th:text="${msg}"></span>
            </div>

            <img alt="450x300" width="450px" height="300px" th:src="${plan.poster}"/>
            <br>
            <br>
            <dl class="dl-horizontal">
                <dt>
                    Title
                </dt>
                <dd id="title" th:text="${plan.title}">

                </dd>
                <dt>
                    Type
                </dt>
                <dd id="type" th:text="${plan.type}">

                </dd>
                <dt>
                    Venue Name
                </dt>
                <dd id="venue_name" th:text="${plan.venueName}">

                </dd>
                <dt>
                    Venue Location
                </dt>
                <dd id="venue_location" th:text="${plan.venueLocation}">

                </dd>
                <dt>
                    Time
                </dt>
                <dd th:text="${#dates.format(plan.time, 'yyyy-MM-dd HH:mm:ss')}">

                </dd>
                <dt>
                    Description
                </dt>
                <dd th:text="${plan.description}">

                </dd>
            </dl>
            <div class="btn-group">
                <a id="btn-choose" th:href="@{/user/choose_seat/{id}(id=${id})}" class="btn btn-primary">选座购票</a>
                <a id="btn-no-choose" th:href="@{/user/seat_info/{id}(id=${id})}" style="margin-left: 5px;"
                   class="btn btn-info">
                    不选座购票
                </a>
            </div>

            <form th:if="${seatInfo != null}" method="post" action="/user/my_order" id="seat-buy"
                  role="form">
                <input type="hidden" name="planId" th:value="${id}">
                <div class="form-group">
                    <label for="seat_name">座位</label>
                    <select name="area" class="form-control" onchange="bindingMaxNum()" id="seat_name">
                        <option th:each="seatInfo, iterStat: ${seatInfo}" th:id="${iterStat.index}"
                                th:value="${seatInfo.area}" th:text="|${seatInfo.name}(¥${seatInfo.price})|"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="seat_num">数量</label>
                    1<input name="ticketNum" step="1" id="seat_num" type="range" min="1" value="1"
                            th:max="(${seatInfo[0].isOut()}? 20:${seatInfo[0].rest})" class="form-control"
                            onchange="changeSelectedNum()"/>
                    <span id="seat_max" th:text="(${seatInfo[0].isOut()}? 20:${seatInfo[0].rest})"></span>
                    <h3 id="seat_selected">1</h3>
                </div>
                <button type="submit" class="btn btn-primary">购买</button>
            </form>
        </div>
    </div>
</div>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var list = /*[[${seatInfo}]]*/;
    function bindingMaxNum() {
        var selected = $("#seat_name").val();
        console.log(selected);
        for (var i = 0; i < list.length; i++) {
            if (list[i].area == selected) {
                var maxSeat = list[i].rest > 20 ? 20 : list[i].rest;
                $("#seat_num").attr("max", maxSeat).val(1);
                $("#seat_max").text(maxSeat);
                $("#seat_selected").text(1);
                console.log('hit');
                break;
            }
        }
    }

    function changeSelectedNum() {
        $("#seat_selected").text($("#seat_num").val());
    }
    /*]]*/
</script>
</html>